.input-text, span{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#hide input[type=file] {
    display:none;
    margin:10px;
    }
    #hide input[type=file] + label {
    display:inline-block;
    margin:0 20px 12px 0;
    padding: 6px 47px 7px 47px;
    background-color: #FFFFFF;
    border:solid 1px #40a9ff;
    border-radius: 50px;
    color: #40a9ff;
    }

#hide input[type=file]:hover + label {
    transition-duration: 0.2s;
    box-shadow: 1px 2px 1px 0.5px rgb(218, 218, 218);
    background-image: none;
    background-color:#40a9ff;
    color:#FFFFFF;
}
/* 1890ff */

.upload-btn {
    border: 1px solid ;
    width: 32px;
    height: 32px;
    padding: 5px;
    padding-top: 7px;
    font-size: 16px;
    border-color: #d9d9d9;
    border-radius: 50%;
    background-color: #FFFFFF!important;
    color: rgba(39, 38, 38, 0.65);
}

.upload-btn:hover, .upload-btn:focus{
    outline: none;
    transition-duration: 0.3s;
    border-color:#40a9ff!important;
    color: #40a9ff;
    cursor: pointer;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
}